				                
body{margin-top:20px;}
.avatar{
    width:200px;
    height:200px;
}
.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}
.navbar-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}